@model Articles.Models.Post

<a asp-action="UnlikePost" asp-controller="Blog" asp-route-year=@Model.PostedOn.Year
   asp-route-month=@Model.PostedOn.Month asp-route-ti=@Model.UrlSlug><b>Unlike Post </b></a>