@model Articles.Models.Post

    <a asp-action="UnsaveAndHide" asp-controller="Blog" asp-route-year=@Model.PostedOn.Year
       asp-route-month=@Model.PostedOn.Month asp-route-ti=@Model.UrlSlug data-ajax="true" 
       data-ajax-mode="after" data-ajax-update="#@Model.UrlSlug" data-ajax-begin="hideUnsavedPost"
       data-postslug="@Model.UrlSlug" data-posttitle="@Model.Title" id="@Model.SaveAjaxId()">
    <b>Unsave Post </b></a>
      
