@model Articles.Models.BlogViewModels.CustomizeViewModel

@{
    ViewData["Title"] = "Customize";
}

<h2>Customize</h2>

<form asp-action="Customize">
    <div class="form-horizontal">
        <h4>CustomizeViewModel</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
      
        @foreach (var key in Model.categories.Keys)
            {
            <div class="form-group">
              
               
                    
                       
                    
                 
                        <input asp-for="categories[key]" class="form-control" />
                        <label asp-for="categories[key]"> @Model.category_names[key] @Model.category_counts[key]</label>
                

            </div>
        } 

        <div class="form-group">
            <input asp-for="user_page_size" type="number" />
            <label asp-for="user_page_size">Posts per page</label>
        </div>
        
         <div class="form-group">
           
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="CustomPosts" asp-controller="Blog">Back to your custom feed</a>
</div>

