@model Articles.Models.ListViewModel

<div id="content">

    <h1>@ViewBag.Title</h1>
     
   @await Component.InvokeAsync("Pagination", new {total_posts = Model.TotalPosts })

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate", post)
        }
    }
    else
    {
        <p>No posts found!</p>
    }


    
</div>
