@model  Articles.Models.MessageViewModels.MessageListViewModel

<div id="sendMessage">
<a asp-action="sendMessage" asp-controller="Blog" data-ajax="true" data-ajax-mode="replace-with" data-ajax-update="#sendMessage">
    [+] send a message
</a>
</div>

<div><a asp-action="YourUnauthorizedMessages" asp-controller="Blog">Unauthorized Messages</a> </div>
<div><a asp-action="YourAuthorizedMessages" asp-controller="Blog">Authorized Messages</a></div>


@foreach(var m in Model.getMessages())
{
    @Html.RenderPartial("_MessagePartial", m)

}



