@model Articles.Models.BlogViewModels.CustomizeViewModel

@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>

@foreach(var key in Model.categories.Keys)
{
    <p>@key : @Model.categories[key].ToString() </p>

}