@model Articles.Models.BlogViewModels.PagerViewModel




<div class="pager">

    <a href="@Model.p" title="Previous" class="previous"
       style="visibility:@(Model.p_visible ? "visible" : "collapse")"><< previous</a>

    <a href="@Model.n" title="Next" class="next"
       style="visibility:@(Model.n_visible ? "visible" : "collapse")">next >></a>

    <p>current page: @Model.CurrentPage of @Model.TotalPages</p>

</div>

