@model Articles.Models.Category


<div>
    <div class="row">
        <div class="col-md-3">
            <b>@Model.Name</b>
        </div>

        <div class="col-md-3">
            @Model.Posts.Count Posts
        </div>
        
    
        
    </div>

</div>
