@model Articles.Models.AdminViewModels.AdminPostsListViewModel

@if (Model.SortedBy == "DateDescending")
{
    <a asp-action="ListPostsAscendingDate" asp-controller="Admin">Sort By Date</a>
}
else
{
    <a asp-action="ListPostsDescendingDate" asp-controller="Admin">Sort By Date</a>
}
