@model Articles.Models.AdminViewModels.AdminCategoriesListViewModel


@{
    Layout = "AdminLayout";
}



<body>
    <div id="main">

        <div id="site_content">
            @Html.Partial("_SearchCategories")
            <div id="content">

                <h1>@Model.categories.Count Categories</h1>

                @foreach (Category cat in Model.categories)
                {
                    @Html.Partial("_AdminCategory", cat)
                }
            </div>
        </div>
    </div>
</body>
