@model Articles.Models.AdminViewModels.AdminPostsListViewModel



<div id="content">

    <h1>@ViewBag.Title</h1>

    <div class="col-md-2">
        @Html.Partial("_SortByTitleButton", Model)
    </div>

    <div class="col-md-2">
        @Html.Partial("_SortByDateButton", Model)
    </div>
    
   
    
    @foreach (Post post in Model.posts)
    {
        @Html.Partial("_AdminPost", post)
    }
</div>
