@model Articles.Models.MessageViewModels.MessageCreationViewModel

<div class="form-group">
    <label asp-for="RecipientName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="RecipientName" class="form-control" />
        <span asp-validation-for="RecipientName" class="text-danger"></span>
    </div>
</div>