
<form id="search-form" asp-action="Search" asp-controller="Blog" data-ajax="true"
      data-ajax-mode="replace-with" data-ajax-update="#content" data-ajax-begin="sTest"
      data-ajax-success="searchSuccess">
    <input type="text" id="txtS" name="S" />
    <input type="submit" value="Search" />

</form>
<div id="demoContainer"></div>
<div id="statusResultContainer"></div>




