@model IList<Articles.Models.Tag>

<div class="sidebar">
    <h3>Tags</h3>
    
    @if (Model.Count > 0 )
    {
        <ul>
            @foreach (var tag in Model)
            {
                <li><a asp-action="Tag" asp-controller="Blog" asp-route-tag=@tag.UrlSlug>@tag.Name</a></li>
            }
        </ul>
    }
    else
    {
        <p>No tags found!</p>
    }
</div>
